@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.pet-reg{
    border: 1px solid black;
    background-color: darkgreen;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
    padding: 20px;
	height: 50%;
	width: 80%;
}
.pet-img img{
	width: 100%;
	height: 100%;
	margin-top: 3%;
    margin-bottom:2rem ;
}
.pet-auth {
	margin-top: 4%;
	font-size: medium;
}