@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

* {
	font-family: "Nunito", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;

}
html::-webkit-scrollbar {
	width: 0.6rem;
}
html::-webkit-scrollbar-track {
	background-color: transparent;
}
html::-webkit-scrollbar-thumb {
	background: #538c53;
}
section {
	padding: 3rem 2rem;
	max-width: 1200px;
	margin: 0 auto;
}
.btnn{
    padding: 0.2rem 0.8rem;
	border: 0.1rem solid #fff;
    font-size: 2.4rem;
    color: #fff;
}
.btnn:hover{
    color: #333;
	background-color: #fff;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 6%;
	align-items: center;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
    z-index: 1;
}
header a {
	color: #fff;
	font-size: 2.4rem;
}
header .logo {
	font-size: 2.7rem;
	font-weight: bold;
	
}
header .logo i {
	transform: rotate(-40deg);
	padding-right: 0.3rem;
}
header .navbarr a {
	margin-right: 0.8rem;
}
header .navbarr a:hover {
	text-decoration: underline;
	
	color: #fff;
}
header .auth .btnn {
	
	margin-right: 0.8rem;
	padding: 0.1rem 0.6rem;
	border: 0.1rem solid #fff;
}

#menu {
	font-size: 2.5rem;
	color: #fff;
	cursor: pointer;
	display: none;
}
.home-bg {
	background: linear-gradient(90deg, #333, transparent),
		url(../images/home-bg.jpg), no-repeat;
	background-position: center;
	background-size: cover;

}
.home-bg .home {
	display: flex;
	min-height: 80rem;
	align-items: center;
}
.home-bg .home .content {
	width: 50rem;
	text-align: center;

}
.home-bg .home .content h3 {
	font-size: 7rem;
	color: #fff;
	font-family: "Merienda One", cursive;
    text-transform: capitalize;
}
.home-bg .home .content p{
    padding:1rem 0;
	font-size: 2rem;
	color:#fff;
	line-height: 2;
    margin-bottom: 1rem;
}
.found{
    margin:1rem;
}
.found h2{
    text-align: center;
    font-size: 4rem;
    font-family: "Merienda One", cursive;
}
.found .box-container{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}
.found .box-container .box{
    flex:1 1 30%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}
.found .box-container .box .request{
	text-align: center;
	margin-bottom: 1rem;

}
.found .box-container .box .request a{
	font-size: 2.5rem;
	border: 3px solid #333;
	padding:0.1rem 0.6rem;
		color:#fff;
		background-color:#333;
}
.found .box-container .box .request a:hover{
	border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}
.found .box-container .box:hover .image img{
    transform: scale(1.1);
}
.found .box-container .box .image{
    overflow: hidden;
    height: 30rem;
}
.found .box-container .box .image img{
    height: 30rem;
    object-fit: cover;
    width: 100%;

}
.found .box-container .box .content{
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 2rem;
}
.found .box-container .box .content h4{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}
.found .box-container .box .content p{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

/* Media querries */
@media (max-width: 850px) {
	#menu {
		display: block;
		transition: 0.0s all linear;
	}
	#menu.fa-times {
		transform: rotate(180deg);
		color: red;
	}
	header .navbarr {
		position: absolute;
		top: 99%;
		left: 0;
		right: 0;
		background-color: #fff;
		border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 0.2s linear;
	}
	header .navbarr a {
		margin: 1.5rem;
		padding: 0.6rem;
		display: block;
		border: 0.2rem solid rgba(0, 0, 0, 0.1);
		border-left: 0.5rem solid #538c53;
		background: #333;
	}
	header .active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
