<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<title>Pettit</title>
        <link rel="stylesheet" href="../static/css/">
	</head>
	<body>
		<header>
			<a href="#home" class="logo"><i class="fas fa-paw"></i>Pet finder</a>

			<nav class="navbar">
				<a href="#">dogs</a>
				<a href="#">cats</a>
				<a href="#">profile</a>
				<a href="#">adopted</a>
			</nav>
			<div class="auth">
				<a href="#" class="btn">add pets</a>
				<a href="#" class="btn">login</a>
			</div>

			<div id="menu" class="fas fa-bars"></div>
		</header>
		{%block content%} {%endblock%} 
        {% block javascript %}
		<script src="{{ url_for('static',filename='js/script.js') }}"></script>
		{% endblock %}
	</body>
</html>


