{% extends 'base.html'%} 

{% block content %}
    <div class="found">
        <h2>Found pets</h2>
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../static/images/img1.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../static/images/img2.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../static/images/img3.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../static/images/img4.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../static/images/img5.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../static/images/img6.jpg" alt="">
                </div>
                <div class="content">
                    <h4>Casie</h4>
                    <p>2 months old</p>
                    <p>black</p>
                </div>
            </div>
        </div>
    </div>
		
{% endblock %}