{% extends 'base.html'%} 

{% block title %}
Found pets
{% endblock %}

{% block content %}
    <div class="found">
        <h2>Found pets</h2>
        <div class="box-container">
            {% for pet in pets %}
            <div class="box">
                <div class="image">
                    <img src="/static/photos/{{pet.pic_path}}" alt="">
                </div>
                <div class="content">
                    <h4>{{pet.name}}</h4>
                    <p>{{pet.age}}</p>
                    <p>{{pet.color}}</p>
                </div>
                <div class="request">
                    <a href="{{ url_for('.request')}}" >Request</a>
                    <a style="color: #fff;background-color: red;border: 3px solid red;" href="/pet/delete/{{pet.id}}" >delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
		
{% endblock %}