<header>
	<a href="{{ url_for('.index')}}" class="logo"><i class="fas fa-paw"></i>Pet finder</a>

	<nav class="navbarr">
		<a href="#">dogs</a>
		<a href="#">cats</a>
		<a href="#">profile</a>
		<a href="{{ url_for('.adopt')}}">adopt</a>
	</nav>
	<div class="auth">
		{% if current_user.is_authenticated %}
		<a style="color:white;padding:15px;">{{current_user.username}}</a>
		<a href="{{ url_for('.post')}}" class="btnn">add pets</a>
		<a href="{{ url_for('auth.logout')}}" class="btnn">logout</a>
		{% else %}
		<a href="{{ url_for('auth.login')}}" class="btnn">login</a>
		{% endif %}
	</div>

	<div id="menu" class="fas fa-bars"></div>
</header>
